asgiref==3.5.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
direnv==2020.12.3
Django==4.0.4
django-crispy-forms==1.14.0
django-debug-toolbar==3.4.0
env-file==2020.12.3
idna==3.3
lxml==4.8.0
mutagen==1.45.1
Pillow==9.1.1
requests==2.27.1
soupsieve==2.3.2.post1
sqlparse==0.4.2
urllib3==1.26.9
values==2020.12.3
