{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<div class="container">
    <div class="music-player">
        {% for item in objects %}
                <div class="titre">
                    <div class="cover"><img alt="" src="{{ item.image.url }}"/></div>
                    <a class="nav-link active" aria-current="page"
                    href="{% url 'Genre' item.genre.id %}">{{ item.genre }}</a>

                    <h3>{{ item.artist }}</h3>

                    <h1>{{ item.title }}</h1>
                </div>
                <div class="lecteur">
                    <audio class="fc-media" style="width: 100%;">
                        <source src="{% if item.audio_file %}{{item.audio_file.url}} {% else %} {{item.audio_link}} {% endif %}"
                                type="audio/mp3"/>
                    </audio>
                </div>
        {% endfor %}
    </div>
</div>

{% endblock %}


{% comment %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">

        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
</div>
{% endcomment %}
