{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<form action="{% url 'player:Release' %}" method="post">

    {% csrf_token %}
    <div class="container release">
        {{ form|crispy }}

        {% comment %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            <div class="invalid-feedback">
                {{ field.errors }}
            </div>
        </div>
        {% endfor %}
        {% endcomment %}

        <button type="submit" class="btn btn-dark btn-primary">RELEASE</button>
    </div>

</form>

{% endblock %}
