.container{
    width: 700px;
    position: relative;
    margin: auto;
    display: block;
    height: 600px;
    padding-left: 20%;
    margin-top: 5%;
    background: transparent linear-gradient(to bottom,rgba(10,11,31,0.9) 50%,rgb(10,11,31) 70%) repeat scroll 0 0;
    box-shadow: 1px 10px 20px 5px #222;
    min-width: auto !important;
}
.container form{
    position: absolute;
    padding-top: 90px;

}
legend.border-bottom.mb4{
    transform: translate(-50%, -50%);
    color: white;

}
div.form-group{
    transform: translate(-50%, -50%);
    margin: auto;
}
label{
    color: white;
}
div.border-top.pt-3 {
    color: white;
}
div.container.big{

    color: white;
}