*:focus {
    outline: none;
}

body {
    background-image: url("../../media/background.png");
}

.titre {
    position: initial;
}

.cover {
    position: absolute;
    background-size: 10px;
    z-index: -1;
}

.cover img {
    width: 126px;
    height: 126px;
}

.titre a {
    margin: 0;
    font-size: 17px;
    font-weight: 1000;
    display: initial;
    color: #b398ffb3;
    padding: 0 10%;
}

.nav-link:focus, .nav-link:hover {
    color: #f0a4f791;
}

.titre h3 {
    margin: 0;
    font-size: 17px;
    font-weight: 500;
    color: #b398ffb3;
    padding: 0 10%;
}

.titre h1 {
    margin: 0;
    font-size: 33px;
    color: #b398ffb3;
    padding: 0 10%;
}

.music-player {
    display: block;
    position: fixed;
    width: 1320px;
    height: 768px;
    margin: auto;
    margin-top: 6%;
    border-radius: 10px 100px 100px 10px;
    background: transparent linear-gradient(to bottom, rgba(10, 11, 31, 0.9) 50%, rgb(10, 11, 31) 70%) repeat scroll 0 0;
    box-shadow: 1px 10px 20px 5px #222;
    border: 1px solid;
    overflow-y: scroll;
    scrollbar-width: none;
}

#music-player::-webkit-scrollbar {
    width: 0;
}

.mejs__container {
    position: relative;
    background-color: transparent;
    min-width: auto !important;
}

.mejs__controls .mejs__time span {
    font-size: 15px;
}

.mejs__time-total {
    background: hsla(222.2, 40.5%, 31%, 0.54);
}

.mejs__controls:not([style*="display: none"]) {
    background: linear-gradient(#ddd0, rgba(255, 255, 255, 0.05));
}

.mejs__controls {
    width: 100%;
    padding: 0 9.4%;
}

.mejs__controls span.mejs__duration {
    margin-left: 1000px;
    position: absolute;
}

.container {
    height: 100px;
    padding-left: 0%;
    padding-right: 10%;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #62667b3d;
    color: black;
}

a.warning:hover {
    background-color: #fff0;
    color: black;
}

li.btn-outline-warning.beats {
    position: absolute;
    right: 43%;
    margin-right: -50px !important; /* 50% of your logo width */
    display: block;
}

li.btn-outline-warning.songs {
    position: absolute;
    left: 43%;
    margin-left: -50px !important; /* 50% of your logo width */
    display: block;
}

.btn-outline-warning {
    padding: .1px 28px;
    border: 3px solid;
    font-weight: bold;
    font-size: 20px;
}

.navbar {
    padding-top: .8rem;
    padding-bottom: .9rem;
}

.container.release {
    position: absolute;
    display: block;
    margin: auto;
    margin-top: 6%;
    border-radius: 10px 10px 10px 10px;
    background: transparent linear-gradient(to bottom, rgba(10, 11, 31, 0.9) 50%, rgb(10, 11, 31) 70%) repeat scroll 0 0;
    box-shadow: 1px 10px 20px 5px #222;
    border: 1px solid black;
    background-color: black;
    height: 350px;
    width: 1000px;
    max-width: 1320px;
    margin-left: 25%;
}

.container.release .form-group {
    margin-top: 10px;
    width: 998px;
    color: white;
}