{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<link href="{% static 'css/register_style.css' %}" rel="stylesheet">
<div class="container">

    {% if messages %}

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}

    {% endif %}

    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb4">
                Join Today
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign in</button>
        </div>
        <div class="form-floating">
        <small class="text-muted">
            Need an account? <a class="" href="{% url 'Register' %}">Sign up</a>
        </small>
    </div>
    </form>

</div>
{% endblock %}
