<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelementplayer.min.css" rel="stylesheet"/>
    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">

    <title>
        {% block title %}
        {% endblock %}
    </title>

    <style>
        img {
            object-fit: cover;
            width: 75px;
            height: 75px;
            border-radius: 50%;
        }
    </style>

</head>

<body>

{% include 'inc/_nav.html' %}

{% block content %}
{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelement-and-player.min.js">
</script>
<script src="{% static 'js/script.js' %}">
</script>
<!--<script src="{% static 'js/fav_script.js' %}">-->
<!--</script>-->
</body>
</html>
