<style>
    .sidenav-left {
        height: 768px;
        width: 180px;
        position: fixed;
        z-index: 1;
        top: 193px;
        left: 1%;
        background-color: #8787a8e3;
        overflow-x: hidden;
        padding-top: 20px;
        border-radius: 100px 10px 10px 100px;
    }

    .sidenav-left a {
        transform: rotate(-90deg);
        position: absolute;
        margin-top: 200px;
        margin-left: -210px;
        font-size: 210px;
        color: #1d1246c7;
        display: block;
    }

    .sidenav-left a:hover {
        color: #f1f1f1;
    }


    .sidenav-left-text:hover {
        background-color: #fff0;
    }

    .sidenav-right {
        height: 768px;
        width: 180px;
        position: fixed;
        z-index: 1;
        top: 193px;
        left: 89.6%;
        background-color: #8787a8e3;
        overflow-x: hidden;
        padding-top: 20px;
        border-radius: 10px 100px 100px 10px;
    }

    .sidenav-right a {
        transform: rotate(90deg);
        position: absolute;
        margin-top: 200px;
        margin-left: -210px;
        font-size: 210px;
        color: #1d1246c7;
        display: block;
    }

    .sidenav-right a:hover {
        color: #f1f1f1;
    }

    .sidenav-right-text:hover {
        background-color: #fff0;
    }
</style>
<div class="sidenav-left">
    <a class="sidenav-left-text" href="#about">songs</a>
</div>
<div class="sidenav-right">
    <a class="sidenav-right-text" href="#about">beats</a>
</div>
