{% load static %}

<style>
    .titre.list-group{
        height: 100px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .titre.list-group h3{
        margin-top: 5px;
        padding: 0 10%;
    }
    .titre.list-group h1{
        padding: 0 10%;
    }
</style>

<div class="container">
    <div class="music-player">
        {% for item in objects %}
        <div class="titre list-group">
            <div class="cover img"><img alt="" src="{{ item.cover_url }}"/></div>

            <h3>{{ item.artist }}</h3>

            <h1>{{ item.title }}</h1>

        </div>
        {% endfor %}
    </div>
</div>